<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- LINK TO MY PARTIALS -->
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <!-- LINK TO MY "NAVBAR" PARTIALS -->
    <%- include("./partials/navbar.ejs") %>

    <div class="container">
      <!-- LINK TO MY "HEAD" PARTIALS -->
      <%- include("./partials/header.ejs") %>
  
      <!-- LINK TO MY "MAIN" PARTIALS -->
      <%- include("./partials/main.ejs") %>
    </div>

    <!-- LINK TO MY "FOOTER" PARTIALS -->
    <footer class="footer">
      <%- include("./partials/footer.ejs") %>
    </footer>
  </body>
</html>
