<style>
  @media (max-width: 768px) {
    body > form {
      display: flex;
      flex-direction: column;
      height: 200px;
      justify-content: space-evenly;
      padding: 1em 2em;
    }

    body > a {
      margin-left: 3em;
    }
  }
</style>

<h1>Edit Book</h1>
<form action="/books/edit/<%= book._id %>" method="POST">
  <input type="text" name="title" value="<%= book.title %>" required>
  <input type="text" name="author" value="<%= book.author %>" required>
  <input type="text" name="isbn" value="<%= book.isbn %>" required>
  <input type="date" name="publishDate" value="<%= book.publishDate.toISOString().split('T')[0] %>" required>
  <input type="text" name="issue" value="<%= book.issue %>" required>
  <button type="submit">Update Book</button>
</form>
<a href="/books">Back to Books</a>